.irs--round .irs-bar {
    background:linear-gradient(to right, #555 0%, #555 100%);
  }
  .irs--round .irs-handle {
    background-color: #00c2c0;
    border-color: #00c2c0;
    box-shadow: 0px 0px 0px 5px rgba(0,194,192,0.2);
  }
  .irs--round .irs-handle.state_hover,
  .irs--round .irs-handle:hover {
    background-color: #00c2c0;
  }
  .irs--round .irs-handle {
    width: 16px;
    height: 16px;
    top: 29px;
  }
  .irs--round .irs-from,
  .irs--round .irs-to,
  .irs--round .irs-single {
    background-color: transparent;
    color: #666;
  }
  .irs--round .irs-from:before,
  .irs--round .irs-to:before,
  .irs--round .irs-single:before,
  .irs--round .irs-min,
  .irs--round .irs-max {
    display: none;
  }
  @import url(http://weloveiconfonts.com/api/?family=entypo);
  
  [data-icon]:after {
    font-family: "entypo";
    content: attr(data-icon);
    speak: none;
  }
  .searchable-dropdown {
    padding: 0;
    line-height: 32px;
    color: black;
    border: 1px solid black;
    font: bold 14px/20px "Arial", sans-serif;
    text-indent: 12px;
    outline: none;
    -webkit-appearance: textfield;
  }
  .searchable-dropdown::-webkit-input-placeholder {
    color: transparent;
  }
  .searchable-dropdown::-moz-input-placeholder {
    color: transparent;
  }
  .searchable-dropdown:-ms-input-placeholder {
    color: transparent;
  }
  .searchable-dropdown::-webkit-search-cancel-button, .searchable-dropdown::-webkit-search-results-button, .searchable-dropdown::-webkit-search-results-decoration {
    -webkit-appearance: none;
    width: 32px;
    height: 32px;
    line-height: 30px;
    color: white;
    text-align: left;
    cursor: pointer;
  }
  .searchable-dropdown::-webkit-search-cancel-button:before, .searchable-dropdown::-webkit-search-results-button:before, .searchable-dropdown::-webkit-search-results-decoration:before {
    position: absolute;
    content: 'x';
    font-style: normal;
  }
  
  .searchable-dropdown:invalid::-webkit-search-cancel-button:before, .searchable-dropdown:invalid::-webkit-search-results-button:before, .searchable-dropdown:invalid::-webkit-search-results-decoration:before {
    font-family: "entypo";
    content: attr(data-icon);
  }
  .searchable-dropdown + label {
    position: absolute;
    margin: 8px 0 0 -30px;
    cursor: pointer;
  }
  .searchable-dropdown + label:before {
    position: absolute;
    content: 'Choisir';
    left: -152px;
    width: 180px;
    color: #999;
    text-align: left;
  }

  @media only screen and (min-width: 320px) {
    .searchable-dropdown + label:before {
      left: -240px;
    }
  
  }@media only screen and (min-width: 768px) {
    .searchable-dropdown + label:before {
      left: -132px;
    }
  
  }@media only screen and (min-width: 1440px) {
    .searchable-dropdown + label:before {
      left: -310px;
    }
  
  }

  #company-filter + label:before {
   content: 'Vælg afdeling';
  }

  #makes-filter + label:before {
    content: 'Vælg mærke';
   }

   #models-filter + label:before {
    content: 'Vælg model';
   }

   #vehicleStates-filter + label:before {
    content: 'Vælg stand';
   }

   #priceTypes-filter + label:before {
    content: 'Vælg pristype';
   }

   #productTypes-filter + label:before {
    content: 'Vælg køretøjstype';
   }
  
   #propellants-filter + label:before {
    content: 'Vælg brændstof';
   }

   #bodytypes-filter + label:before {
    content: 'Vælg karrosseri';
   }

   #gears-filter + label:before {
    content: '- Vælg Gears - ';
   }

   #door-filter + label:before {
    content: ' - Vælg Antal døre - ';
   }
         
  .searchable-dropdown + label:after {
    margin-left: 7px;
    color: black;
    content: '\25BE';
    content: url(https://maxdue.dk/wp-content/plugins/autoit-dealer-tools-master/includes/img/br_down.png);
  }
  
  .searchable-dropdown:focus::-webkit-input-placeholder {
    font-weight: normal;
    color: black;
  }
  .searchable-dropdown:focus::-moz-input-placeholder {
    font-weight: normal;
    color: black;
  }
  .searchable-dropdown:focus:-ms-input-placeholder {
    font-weight: normal;
    color: black;
  }
  .searchable-dropdown:focus:invalid + label:before {
    display: none;
  }
  .searchable-dropdown:focus:invalid + label:after {
    margin-left: 4px;
    content: attr(data-icon);
  }
  .searchable-dropdown:valid + label {
    display: none;
  }
  
  .select2, .selectDropDownLabel{
      display:none !important ;
  }
  
  .ui-autocomplete {
    width: 190px;
    max-height: 180px;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
    color: black;
    border-width: 4px 4px 4px 0;
    border-style: solid;
    border-color: black;
  }
  .ui-autocomplete ul {
    list-style: none;
  }
  .ui-autocomplete li {
    height: 36px;
    margin: 0;
    font: bold 14px/36px Arial, Helvetica, sans-serif;
    white-space: nowrap;
  }
  .ui-autocomplete li:hover {
    -moz-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    -webkit-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
    background: silver;
  }
  
  .ui-autocomplete li a {
    display: block;
    padding: 0 12px;
    cursor: pointer;
  }